html,body {
    height:100%;
    margin:0px;
    min-width:750px;
    min-height:300px;
    font-size:100%;
    font-family:"arial";
    background-color:#eee;
    color:#111;
    overflow-y:none;
}
div {
	overflow:none;
}
div.card {
  background-color:#fff;
  padding: 3px 3px;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  border-color: #bbb;
  -webkit-box-shadow: 3px 3px 6px -3px #999;
  -moz-box-shadow: 3px 3px 6px -3px #999;
  box-shadow: 3px 3px 6px -3px #999;
  /* h-shadow v-shadow blur spread color */
}
div.terminalCard {
	background-color:#111;
	color:#eee;
	border:4px solid #eee;
}
#roomMembersDiv {
	height:auto;
	overflow:none;
}
input , textarea {
  border:1px solid #bbb;
}
.column {
    float:left;
    margin:0px;
    border:0px;
    padding:0px;
    height:100%;
}
#leftColumn {
    width:calc(100% - 250px);
    overflow-y:none;
}
.column div {
    margin:6px;
    padding:6px;
}
::-webkit-scrollbar {
    display: none;
}
#chatBoxDiv {
    height:calc(100% - 114px);
    overflow-y:auto;
}
#chatBoxDiv p.messageP {
    margin:0px;
    border:0px;
    padding:0px;
    margin-bottom:5px;
}
.messageInfoSpan {
    color:gray;
    width:500px;
}
#messageTextarea {
    width:calc(100% - 6px);
    margin:0px;
    resize:none;
    font-family:arial;
}
#popupBackgroundDiv{
    display:none;
    z-index:500;
    height:100%;
    width:100%;
    position:absolute;
    background-color:#000;
    opacity:.5;    /*opacity:1; is no seethru*/
}
#popupSettingsDiv {
    display:none;
    padding: 20px;
    position:absolute;
    z-index:600;
    height:70%;
    width:45%;
    min-height:250px;
    overflow-y:auto;
    max-width:350px;
    max-height:400px;
}
#rightColumn {
    width:250px;
    overflow-y:none;
}
#rightColumn div {
    margin-left:0px;
}
#roomMembersUL,#roomsList {
    margin: 6px 0px 0px 12px;
    border:0px;
    padding:0px;
    overflow-y:scroll;
		height:140px;
}
#roomMembersUL {
	
}
#roomsList {
	
}
#roomSearchInput {
    width:calc(100% - 4px);
}

.pointer { cursor:pointer; }
.center {text-align:center;}
.large {font-size:115%;}
.bold {font-weight:bold;}
.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
h1 , h2 , h3 , h4 {
    padding:0px;
    margin:0px;
}
li {
  list-style-type:none;
}
li.room {
  padding:2px 6px;
  border-radius:5px;
  transition: background-color .5s;
  line-height:140%;
}
li.unselectedRoom {
  cursor:pointer;
}
li.unselectedRoom:hover {
  background-color:#f2f2f2;
}
li.selectedRoom {
  background-color:#3399ff;
  color:#ffffff;
  cursor:default;
}
.chatBoxNotification {
   color:#666;
   text-align: center;
   font-size:75%;
   margin:0px;
}
.inline { display:inline; }
.right { float:right; }
.large { font-size:115%; }
.larger { font-size:130%; }
.largest { font-size:145%; }
.small { font-size:85%; }
.smaller { font-size:70%; }
.smallest { font-size:65%; }
.red { font-color:#600; }
.block { display:block; }
.gray { color:#888; }
.black { color:#000; }
hr.fadeout {
    margin-top:5px;
    margin-bottom:5px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.90), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.90), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.90), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.90), rgba(0, 0, 0, 0));
}
#bucketSpan {
  position:absolute;
  top:13px;
  right:263px;
}
#bucketXSpan {
  position:absolute;
  top:13px;
  right:263px;
  color:red;
  display:none;
}
#bucketNextSpan {
  position:absolute;
  top:40px;
  right:263px;
  color:#BDBDBD;
  display:none;
}
#bucketPlusSpan {
  position:absolute;
  top:67px;
  right:263px;
  color:black;
  display:none;
}
#bucketMinusSpan {
  position:absolute;
  top:94px;
  right:263px;
  color:black;
  display:none;
}
#iFrame {
  position:absolute;
  top:13px;
  right:285px;
  height:0px;
  width:0px;
  transition: width .8s, height .8s;
  display:block;
}
@-webkit-keyframes dance {
  0% {
    transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
  }
  20% {
    transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
  }
  30% {
    transform:rotate(30deg);
    -ms-transform:rotate(30deg);
    -webkit-transform:rotate(30deg);
  }
  70% {
    transform:rotate(-30deg);
    -ms-transform:rotate(-30deg);
    -webkit-transform:rotate(-30deg);
  }
  80% {
    transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
  }
  100% {
    transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
  }
}
.dance {
    /* Chrome, Safari, Opera */
    -webkit-animation-name: dance;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    /* Standard syntax */
    animation-name: dance;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}
#bucketInput {
  //position:absolute;
  top:12px;
  right:285px;
  width:0px;
  float:right;
  transition: width 1.5s;
  z-index:200px;
  border-width:0px
}
#bucketInputDiv {
  position:absolute;
  top:10px;
  right:285px;
  width:400px;
}
#bucketInputXSpan {
  color:red;
  padding:2px;
  display:inline;
  opacity:0.1;
  transition: opacity 1.5s;
}
#bucketInputSendSpan {
  color:#00FF00;
  padding:2px;
  display:inline;
  opacity:0.1;
  transition: opacity 1.5s;
}
.icon:hover {
	text-shadow: 0px 0px 15px #3399ff;
	/*text-shadow: h-shadow v-shadow blur color|none|initial|inherit;*/
}
#roomsListDiv {
	height:auto;
}
